main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

header {
  text-align: center;
}

.quote-container {
  text-align: center;
}

.get-random-quote {
  background-color: gainsboro;
  border: none;
  box-shadow: 3px 3px 2px black;
  border-radius: 20px;
  font-size: 20px;
  letter-spacing: 4px;
  padding: 5px;
  margin-bottom: 25px;
  width: 40%;
}

.quote {
  text-align: center;
}

.quote p:nth-child( 1 ) {
  font-size: 25px;
  font-style: oblique;
}

.quote p:nth-child( 2 ) {
  font-size: 18px;
  font-style: italic;
  margin-left: 50%;
}

.chars-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.characters {
  display: flex;
  gap: 30px;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.char {
  background-color: beige;
  border: 2px solid grey;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 250px;
}

.char .char__id {
  display: none;
}

.char .char__name {
  padding: 2px;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: center;
}

.char .char__image {
  height: 80%;
  object-fit: fill;
}

.char .char__add {
  background-color: blanchedalmond;
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

.favorite-characters {
  width: 30%;
}
